<h1> About Me </h1>
<p><Hello!</p>
<p>Welcome to my app, this will be my first attempt to create a web app using Ruby on Rails. It is very likely I will make it about dogs...woof </p>

<%= image_tag("pitbull.jpg", :alt => "rss feed") %>